@use "_constants.scss" as *;
@use "fonts/roboto-slab.scss";
@use "animations/BottomLineHover.scss";
@use "images/images.scss";
@use "buttons/utils.scss";


.fixedRight{
    position: fixed !important;
    right: 0;
    bottom: 0;
}


/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px and upper
*/
@media (min-width: 1025px) {
    .fixedRight{
        right: 10%
    }
}