.box{
    width: 100%;
    transition: 0.5s;
    border: solid 1px #cecece;
  }


.box:hover{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.611), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.box .visibilityFont{
    font-size: 0.75em;
}

.box .date{
    float:right;
    color: grey;
}

.box .author{
    float:left;
}


