


.memory-modal{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.4);

    overflow: hidden;
}

.memory-modal .content{
    width: 100%;
    position: fixed;
    overflow-y: auto;
    overflow-x:hidden;
   
    top:5%;
    left: 0;
    bottom: 0;
    background-color: white;
    box-shadow:-7px -7px 10px grey;
}

.memory-modal-content img{
    width: 100%;
    height: auto;
}
.memory-modal-static-header{
    position:sticky;
}

.memory-modal-dynamic-header{
    display:block;
}


.memory-modal-title{
    font-size:large;
    display:inline;
    word-break: break-all;
}

.memory-modal-details{
    font-size: small;
}

.memory-modal-content{
    max-height: 80vh;
    font-size: 1em;
}

.memory-modal .modal-dialog{
    max-width: 100%;
}

.memory-modal-actions{
    position:fixed;
    right: 0;
    bottom: 0;    
}

.hide {
    display: none;
}

.colorRed{
    color: red;
}
