@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdn.quilljs.com/1.0.0/quill.snow.css");
:export {
  primaryColor: #00baff;
  secondaryColor: #7cacff;
}

.roboto-slab-font {
  font-family: "Roboto Slab", serif !important;
}

.BottomLineHoverAnimation::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}

.BottomLineHoverAnimation:hover::after {
  width: 100%;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  padding: 0.25em;
}

.logo-with-text-on-modal {
  width: 10em;
}

.noDecorationButton {
  border: none;
  background-color: transparent;
}

.fadeGreyWhenHover:hover {
  background-color: #E2E8E1;
}

.fixedRight {
  position: fixed !important;
  right: 0;
  bottom: 0;
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px and upper
*/
@media (min-width: 1025px) {
  .fixedRight {
    right: 10%;
  }
}
.c-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.c-modal .content {
  width: 100%;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  top: 5%;
  left: 0;
  bottom: 0;
  background-color: white;
  box-shadow: -7px -7px 10px grey;
}

/*
    Class for floating button actions  (like, reply)
*/
.c-modal .c-actions {
  position: fixed;
  right: 0;
  bottom: 0;
}

.c-modal .title {
  font-size: large;
  display: inline;
  word-break: break-all;
}

/* The modal's details are like the metadata section for the modal. (owner, date, etc)
*/
.c-modal .details {
  font-size: small;
}

.close {
  border: none;
  background-color: transparent;
  border-radius: 5px;
}

.close :hover {
  color: grey;
}

.c-modal .error-message {
  font-size: small;
}

.box {
  width: 100%;
  transition: 0.5s;
  border: solid 1px #cecece;
}

.box:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.611), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.box .visibilityFont {
  font-size: 0.75em;
}

.box .date {
  float: right;
  color: grey;
}

.box .author {
  float: left;
  vertical-align: middle;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* THIS IMPORT SHOULDN'T BE OVERLOOKED

As a consensus, any JS/TS file won't be importing CSS files.
CSS files should be transpiled by Sass and imported by the
appropiate HTML file.

That's why this import of "slick.css" is here. As of writing this code, 
there's no better way of importing .css files from node_modules.

*/
.tab {
  background-color: transparent;
  border: none;
}

.no-gutters {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

/*# sourceMappingURL=dashboard.css.map */
