@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://cdn.quilljs.com/1.0.0/quill.snow.css");
.roboto-slab-font {
  font-family: "Roboto Slab", serif !important;
}

.roboto-font {
  font-family: "Roboto", sans-serif;
}

.BottomLineHoverAnimation::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}

.BottomLineHoverAnimation:hover::after {
  width: 100%;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  padding: 0.25em;
}

.logo-with-text-on-modal {
  width: 10em;
}

.noDecorationButton {
  border: none;
  background-color: transparent;
}

.fadeGreyWhenHover:hover {
  background-color: #E2E8E1;
}

.fixedRight {
  position: fixed !important;
  right: 0;
  bottom: 0;
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px and upper
*/
@media (min-width: 1025px) {
  .fixedRight {
    right: 10%;
  }
}
:export {
  primaryColor: #00baff;
  secondaryColor: #7cacff;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  max-height: 8em;
  line-height: 1.5rem;
}

.c-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.c-modal-index-3 {
  z-index: 3;
}

.c-modal .content {
  width: 100%;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  top: 5%;
  left: 0;
  bottom: 0;
  background-color: white;
  box-shadow: -7px -7px 10px grey;
}

/*
    Class for floating button actions  (like, reply)
*/
.c-modal .c-actions {
  position: fixed;
  right: 0;
  bottom: 0;
}

.c-modal .title {
  font-size: large;
  display: inline;
  word-break: break-all;
}

/* The modal's details are like the metadata section for the modal. (owner, date, etc)
*/
.c-modal .details {
  font-size: small;
}

.close {
  border: 1px solid black;
  background-color: transparent;
  border-radius: 5px;
}

.c-modal .memory-content {
  max-height: 80vh;
  font-size: 1em;
}

.colorRed {
  color: red;
}

.box {
  width: 100%;
  transition: 0.5s;
  border: solid 1px #cecece;
}

.box:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.611), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box .visibilityFont {
  font-size: 0.75em;
}

.box .date {
  float: right;
  color: grey;
}

.box .author {
  float: left;
}

.description {
  text-align: justify;
}

.editProfilePic {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  bottom: -20px;
  color: #fff;
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  text-align: center;
  transition: 0.1s all;
}

/* 
.image:hover .edit {
  bottom: 0px;
} */
.buttonSelector {
  width: 100%;
  height: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: transparent;
  border: none;
}

.activeSection {
  border-bottom: solid 2px black !important;
}

/*# sourceMappingURL=profile.css.map */
